.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.container a {
  width: 100px;
  padding: 20px;

  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px green;
  -webkit-box-shadow: 0px 0px 15px 0px green;
  -moz-box-shadow: 0px 0px 15px 0px green;
}
