.container {
  width: 100%;
  margin: 70px;
}

.container h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 20px;
  color: green;
}
.container ol {
  list-style: none;
  counter-reset: item;
}
.container li {
  color: gray;
  font-weight: 600;
  padding: 2px;
  counter-increment: item;
}
.container li:before {
  margin-right: 10px;
  content: counter(item);
  background: green;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
